.ResponsiveCard-container {
  border-radius: 15px;
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  overflow: hidden;
  color: white;
  text-align: center;
  background-color: rgba(37, 37, 37, 1);
  margin: 20px;
  box-sizing: border-box;
  min-height: 750px;
}

.ResponsiveCard-imageContainer {
  position: relative;
  border-radius: 15px 15px 0 0;
  overflow: hidden;
}

.ResponsiveCard-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 2.4/2;
}

.ResponsiveCard-fade {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 90%;
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  pointer-events: none;
}

.ResponsiveCard-content {
  padding: 20px;
}

.ResponsiveCard-title {
  font-family: 'Avenir LT Std', sans-serif;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.ResponsiveCard-text {
  font-size: 1rem;
  margin: 0.5rem 0;
  text-align: center;
}
