.card {
  background-color: rgba(37, 37, 37, 1);
  color: white;
  border: none;
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
}

.card img {
  width: 100%;
  height: auto;
}

.card_text {
  display: flex;
  justify-content: center;
  align-items: center;
  word-wrap: break-word;
}
