
.TopFooter {
background-color: rgb(37,37,37,1);
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('/public/chair.png');
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  width: 100%;
  height: 50vh; /* Full viewport height */
margin-top: 3rem;
 margin-bottom: 2rem;
}
.phone_img{
     position: relative;
    width: 100%;
    height: 100vh; /* Full viewport height */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
  
}
.respo-img {
  position: absolute;
  top: 48%;
  left: 50%;
  width: 80%;
  height: 55%;
  object-fit: contain; /* Ensures the entire image is visible */
  transform: translate(-50%, -50%);
}
.text_button button{
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  background: linear-gradient(to right, rgba(237, 76, 117, 1), rgba(151, 62, 255, 1));
  color: #fff;
  cursor: pointer;
  transition: background 0.3s ease;
  width: 40%;
}


/* Extra small devices (phones, less than 576px) */
@media (max-width: 575.98px) {
  .TopFooter{
    margin: 0px;
    height: 20vh !important;
  }
  .text_button button{
    font-size: .7rem;
    width: 100%;
  }
  .text_button h1{
    font-size: .8rem;
  }

}

/* Small devices (phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  /* Styles for small devices */
  .TopFooter{
    margin: 0px;
 
    height: 33vh important;
  }
  .text_button button{
    font-size: .8rem;
    width: 80%;
  }
  .text_button h1{
    font-size: 1rem;
  }

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* Styles for medium devices */
  .TopFooter{
    margin: 0px;
 
    height: 45vh important;
  }
  .text_button button{
    font-size: 1rem;
    width: 100%;
   
  }
  .text_button h1{
    font-size: 1.1rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* Styles for large devices */
  
  .text_button button{
    font-size: .8rem;
    width: 100%;
  }
  .text_button h1{
    font-size: 1.2rem;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* Styles for extra large devices */
}
