.Whykicket {
  background-color: rgba(37, 37, 37, 1);
}
.contact-background_why{
  position: relative;
  background-image: url('/public/image9.png'); /* Main image */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center; /* Position the image more towards the top */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.contact-background_why::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 10rem; /* The height of the fade effect */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(37, 37, 37, 1));
  pointer-events: none; /* Prevents interaction with the pseudo-element */
}
.contact-background_why h1{
  color: rgba(255, 192, 25, 1);
  font-weight: bold;
  font-size: 3rem;
}
.Whykicket_second {
  padding-left: 80px;
  padding-right: 80px;
}

.Whykicket_flex-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.Whykicket_flex-container .image-container{
  width: 50%;
}
.Whykicket_flex-container .image-container img{
  width: 90%;
  height: auto;
  display: block;
  object-fit: cover;
  aspect-ratio: 2/2.3;
  border-radius: 15px;
}
.text_button h1 {
  color: white;
}

.custom-img {
  width: 100%;
  height: auto;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  color: white;
}

.text-container h2 {
  margin-bottom: 10px;
}

.text-container p {
  margin: 0;
  word-wrap: break-word; /* Ensures text wrapping */
}

.why-choose-us-container {
  background: rgba(37, 37, 37, 1);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}
.image-container_2 {

 width: 50%;
}
.image-container_2 img{
  aspect-ratio: 2/2.5;
width: 90%;
border-radius: 15px;
  
}

.text-container {
  flex: 1;
  min-width: 300px; /* Minimum width for responsive design */
  width: 50%; /* 50% width for text on large screens */
}

.image-container img {
  width: 100%;
  height: auto;
  aspect-ratio: 2/2.5;
  object-fit: cover;
}

.custom-img2 {
  width: 100%;
  height: auto;
  aspect-ratio: 3 / 3; /* Ensures the 3:3 aspect ratio */
  object-fit: cover; /* Ensures the image covers the container */
}

.text-container h2 {
  margin-bottom: 20px;
}

/* Extra small devices (phones, less than 576px) */
@media (max-width: 575.98px) {
  .Whykicket_flex-container {
    flex-direction: column !important;
  }
  .Whykicket_second {
    padding: 10px;
  
  }
  .contact-background {
    height: 70vh !important;
  }
  .why-choose-us-container {
    flex-direction: column;
  }
  .image-container img {
    width: 100% !important;
    aspect-ratio: 2/2.5;
    object-fit: cover;
  }
  .image-container_2 {

    width: 100%;
   }
   .image-container_2 img{

    width: 100%;
   }
  .image-container, .text-container {
    width: 100%; /* Full width for smaller screens */
  }
  .Whykicket_flex-container .image-container{
    width: 100%;
  }
  .Whykicket_flex-container .image-container img{
    width: 100%;
  }
}

/* Small devices (phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .Whykicket_second {
    padding: 30px;

  }
  .contact-background {
    height: 80vh !important;
  }
  .image-container img {
    width: 80%;
    height: auto;
  }
  .image-container_2 img {
    width: 100% !important;
  }
  .Whykicket_flex-container {
    flex-direction: column !important;
  }
  .image-container, .text-container {
    width: 100%; /* Full width for smaller screens */
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .Whykicket_second {
    padding: 50px;
    padding-bottom: 30px;
  }
  .custom-img img {
    width: 80%;
    height: auto;
  }
  .image-container_2 img {
    width: 100% !important;
  }
  .Whykicket_flex-container .image-container{
    width: 100%;
  }
  .Whykicket_flex-container .image-container img{
    width: 100%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .Whykicket_second {
    padding: 70px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* Styles for extra large devices */
}
