.Whykicket {
  background-color: rgba(37, 37, 37, 1);
}
.Whykicket_second{
  padding: 80px;
}

.Whykicket_flex-container {
  display: flex;
  flex-wrap: wrap;
}

.text_button h1 {
  color: white;
}

.custom-img {
  width: 100%;
  height: 100%;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  color: white;
}

.text-container h2 {
  margin-bottom: 10px;
}

.text-container p {
  margin: 0;
  word-wrap: break-word; /* Ensures text wrapping */
}

.why-choose-us-container {
  background: rgba(37, 37, 37, 1);
  border-radius: 10px;
  color: white;
}

.image-container {
  width: 50%; /* 50% width for image */
}

.text-container {
  width: 50%; /* 50% width for text */

}

.image-container img {
  width: 80%;
  aspect-ratio: 2/2.5;
  object-fit: cover;
 
}

.custom-img2 {
  width: 20%;
  height: auto;
  aspect-ratio: 3 / 3; /* Ensures the 4:3 aspect ratio */
  object-fit: cover; /* Ensures the image covers the container */
}

.text-container h2 {
  margin-bottom: 20px;
}

/* Extra small devices (phones, less than 576px) */
@media (max-width: 575.98px) {
  .Whykicket_flex-container {
    flex-direction: column !important;
    
  }
  .Whykicket_second{
    padding: 10px;
  }
  .contact-background {
    height: 70vh !important;
  }
  
  .why-choose-us-container {
    flex-direction: column;
  }
  .image-container_2 img {
    width: 100% !important;
  }

.image-container img {
  width: 90%;
  aspect-ratio: 2/2.5;
  object-fit: cover;
 

}
.image-container{
  width: 100%; /* 50% width for image */
}
.text-container {
  width: 100%; /* 50% width for text */

}

}

/* Small devices (phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .Whykicket_second{
    padding: 30px;
  }
  .flex-container {
    padding: 0px;
  }
  .contact-background {
    height: 80vh !important;
  }
  .image-container img {
    width: 80%;
    height: 90%;
  }
  .image-container_2 img {
    width: 100% !important;
  }
  .Whykicket_flex-container {
    flex-direction: column !important;
    
  }
  .image-container{
    width: 100%; /* 50% width for image */
  }
  .text-container {
    width: 100%; /* 50% width for text */
  
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .Whykicket_second{
    padding: 50px;
  }
  .custom-img img {
    width: 80%;
    height: 80%;
  }
  .image-container_2 img {
    width: 100% !important;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* Styles for large devices */
  .Whykicket_second{
    padding: 70px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* Styles for extra large devices */
}
