.Whykicket{
    background-color: rgba(37, 37, 37, 1);
    
}
.Whykicket_flex-container {
    display: flex;
  padding-right: 6%;
  }
  .text_button h1{
    color: white;
  }
  .custom-img img{
    width: 100%;
    height: 100%;
  }
  .text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    color: white;

  }
 
  
  .text-container h2 {
    margin-bottom: 10px;
  }
  
  .text-container p {
    margin: 0;
    word-wrap: break-word; /* Ensures text wrapping */
  }
  
  .why-choose-us-container {
  background: rgba(37, 37, 37, 1);
  border-radius: 10px;
  color: white;
}

.image-container {
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.custom-img2{
  width: 20%;
  height: auto;
  aspect-ratio: 3 / 3; /* Ensures the 4:3 aspect ratio */
  object-fit: cover; /* Ensures the image covers the container */
}

.text-container {
  padding: 20px;
}

.text-container h2 {
  margin-bottom: 20px;
}

/* WhyChooseUs.css */
.why-choose-us-container {
    background-color: #252525;
    color: white;
    padding: 20px;
    border-radius: 8px;
  }
  
  .why-choose-us-header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .why-choose-us-content {
    display: flex;
    flex-direction: column;
  }
  .responsive_cur_head{
    color: white;
  }

  /* Extra small devices (phones, less than 576px) */
@media (max-width: 575.98px) {
  .Whykicket_flex-container{
    flex-direction: column;
    padding: 0px;
  } 
 .contact-background{
  height: 70vh !important;
 }
 .image-container img{
  width: 88%;
  height: 60%;
}
 .why-choose-us-container
 {
  flex-direction: column;
 }
 .image-container_2 img{
  width: 110% !important;
}
}

/* Small devices (phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  /* Styles for small devices */
  /* .Whykicket_flex-container{
    flex-direction: column;
  }  */
  .flex-container{
    padding: 0px;
  }
  .contact-background{
    height: 80vh !important;
   }
   .image-container img{
    width: 80%;
    height: 90%;
  }
  .image-container_2 img{
    width: 100% !important;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* Styles for medium devices */
  .custom-img img{
    width: 80%;
    height: 80%;
  }
  .image-container_2 img{
    width: 100% !important;
  }
  
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* Styles for large devices */
 
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* Styles for extra large devices */
}
